.CoveoHelloWorld {
  color: #4f9bc8;
  height: 100px;
  background-image: url(https://zupimages.net/up/20/27/vg61.png); 
  text-align: center;
  font-size: 60px;
  font-family: 'Impact',sans-serif;
  padding-top: 20px;
  margin-top: 25px;
  font-weight: bold;
  letter-spacing: 5px;
  text-shadow: 5px 5px 20px #dec0a6,
    -5px 3px 30px #dec0a6;
}

.CustomBackground {
  background-image: url(https://zupimages.net/up/20/27/vg61.png); 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
